<ul>
  <li
    [class.highlight-video]="highlightedVideo?.id === videoData.id"
    (click)="setHighlightedVideo(videoData)"
    *ngFor="let videoData of videoList | async"
  >
    <app-video-thumbnail [video]="videoData"></app-video-thumbnail>
  </li>
</ul>
