<app-video-list
  (onVideoSelected)="videoSelected($event)"
></app-video-list>
<app-video-player [videoToDisplay]="selectedVideo"></app-video-player>
<app-video-stat-filters></app-video-stat-filters>
